* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  border: 1px solid;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 6rem;
  font-weight: 200;
  margin-bottom: 8px;
}

p {
  max-width: 400px;
}
